.crosscut-block {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 5px;
    color: $white;
    background-color: $green;
    z-index: 5;
    @include breakpoint(375px) {
        padding: 15px;
    }
    @include breakpoint(1024px) {
        display: none;
    }
    .row {
        align-items: center;
        justify-content: space-between;
    }
    .crosscut-title {
        margin-right: 1em;
    }
    a.btn {
        @include button($white, $green);
        min-width: auto;
        padding: 0 7px;
        vertical-align: middle;
        @include border-radius(50px);
        @include breakpoint(1024px) {
            min-width: auto;
        }
        &:hover, &:active, &.active, &:focus {
            color: $green;
            background-color: $white;        
        }
        i.icon {
            display: block;
            padding: 7px 0;
            font-weight: bold;
        }
    }
}
