header {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: $white;
    z-index: 6;
    @media screen and (min-width: 1200px) {
        height: 5.55rem;
        padding-top: 1.65rem;
        padding-bottom: 1.65rem;
    }
    .container {
        > .display-flex {
            align-items: center;
            justify-content: space-between;
            @media screen and (min-width: 1200px) {
                align-items: flex-start;
            }        
        }
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    a.logo {
        display: flex;
        font-size: $h3;
        letter-spacing: 0.225em;
        width: calc( (#{$h3} + 0.3em) * 5);
        align-items: center;
        img {
            height: 3.2rem;
            margin-right: 0.225em;
            margin-top: -0.55rem;
            margin-bottom: -0.55rem;
            @media screen and (min-width: 1200px) {
                height: 3.75rem;
                margin-top: -0.8rem;
                margin-bottom: -0.8rem;
            }          
        }
    }
}

.hamburger {
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 1;
    @media screen and (min-width: 1200px) {
        display: none;
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $black;
        @include transition(all 0.3s);
        + span {
            margin-top: 7px;
        }
    }
    &.active {
        span {
            position: absolute;
            + span {
                margin-top: 0;
            }
            &:nth-child(1) {
                @include transform(rotate(45deg) translate(7px, 7px));
            }
            &:nth-child(3) {
                @include transform(rotate(-45deg) translate(-7px, 7px));
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

nav {
    @media screen and (max-width: 1199px) {
        display: none;
        position: fixed;
        top: 4.5rem;
        right: 0;
        height: calc(100vh - 4.5rem);
        padding: 20px;
        background-color: rgba($white, 0.95);
    }
    @media screen and (min-width: 1200px) {
        display: flex !important;
        flex-wrap: wrap;
    }
    ul {
        @include listreset(0 auto, 0, none);
        font-size: 0;
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
        @media screen and (min-width: 1440px) {
            margin-right: 50px;
        }
        @media screen and (max-width: 1199px) {
            min-width: 215px;
        }
        li {
            display: block;
            @media screen and (min-width: 1200px) {
                display: inline-block;
            }        
            @media screen and (max-width: 1199px) {
                margin-bottom: 20px;
            }
            a {
                position: relative;
                display: block;
                padding: 10px 5px;
                color: $black;
                font-size: $h5;
                line-height: 1;
                @media screen and (min-width: 1440px) {
                    padding: 10px 8px;
                }
                &::before {
                    @include beforeafter('', block);
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    width: 0;
                    height: 2px;
                    background-color: $green;
                    @include transition(all 0.3s);
                    z-index: -1;
                }
                &:hover {
                    color: $green;
                    &::before {
                        left: 0;
                        right: auto;
                        width: 100%;
                        @include transition(all 0.3s);
                    }
                }
                > * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            + li {
                @media screen and (max-width: 1023px) {
                    border-top: 1px solid rgba($gray, 0.15);
                }
                @media screen and (min-width: 1024px) {
                    margin-left: 10px;
                }
                @media screen and (min-width: 1440px) {
                    margin-left: 20px;
                }
            }
        }
    }
}

.line-btn {
    align-items: center;
    background-color: $white;
    @include border-radius(50px);
    @include box-shadow(1px 1.5px 10px rgba($black, 0.1));
    @media screen and (max-width: 1199px) {
        min-width: 215px;
    }
    .icon-line {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $h1;
        height: $h1;
        font-size: $h1;
        background-color: $green;
        @include border-radius(50%);
        &::before {
            font-size: 0.65em;
        }
    }
    span {
        display: block;
        font-size: 0.75rem;
    }
}

.blank {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    &.opened {
        z-index: 5;
    }
}