.gotop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: 55px;
    height: 55px;
    padding: 17px 10px 12px;
    color: $white;
    line-height: 1;
    text-align: center;
    background-color: $green;
    @include border-radius(50%);
    cursor: pointer;
    z-index: 5;
    @include breakpoint(1024px) {
        bottom: 20px;
        width: 65px;
        height: 65px;
        padding: 20px 15px;
    }
    >* {
        display: block;
        text-transform: uppercase;
    }
    i {
        font-size: 0.75rem;
        @include transform(rotate(-90deg) scale(0.75));
    }
}
