@import "_mixin";
@import "_variable";
@import "_normalize";
@import "_common";
@import "_container";
@import "_typography";
@import "_font";
@import "_button";
@import "_embed";
@import "_header";
@import "_footer";
@import "_scroll-btn";
@import "_crosscut";
@import "_top";

section {
    position: relative;
    .container-fluid {
        position: relative;
        height: 100%;
        > .row {
            height: 100%;
            &.row-md-reverse {
                flex-direction: row-reverse;
            }
        }
    }
    .row {
        &.row-md-reverse {
            flex-direction: row-reverse;
        }
        &.align-items-center {
            align-items: center;
        }
    }
    @include breakpoint(1024px) {
        .wow {
            visibility: initial !important;
            @include opacity(0);
            @include transition(opacity 0.3s);
            @include animation-duration(1s);
            @include animation-fill-mode(both);
        }
        &.active {
            .fadeInUp {
                @include animation-name(fadeInUp !important);
            }
            .fadeIn {
                @include animation-name(fadeIn !important);
            }
        }
    }
    &.section-opening, &.section-first, &.jumbotron {
        margin-top: 4.75rem;
        @media screen and (min-width: 1200px) {
            margin-top: 5.55rem;
        }
    }
    &.list-section {
        min-height: auto;
        height: auto;
    }
    .slider-opening {
        width: 100%;
        @media screen and (max-width: 767px) {
            min-height: 158vw;
        }
        &.desktop {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        &.pad {
            display: none;
            @media screen and (min-width: 768px) and (orientation: portrait) {
                display: block;
            }
        }
        &.mobile {
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
        .slick-list, .slick-track, .slick-slide {
            height: 100%;
        }
        .main-title {
            font-size: $h1;
            @media screen and (min-width: 1199px) {
                font-size: $h0;
            }
        }
    }
    .feature-block {
        padding-top: 20px;
        padding-bottom: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 1024px) {
            justify-content: space-between;
        }
        .feature-item {
            position: relative;
            padding-left: 3rem;
            @media screen and (min-width: 374px) {
                padding-left: 3.5rem;
            }
            @media screen and (min-width: 768px) {
                padding-left: 4.5rem;
            }
            @media screen and (min-width: 1024px) {
                padding-left: 3.5rem;
            }
            @media screen and (min-width: 1200px) {
                padding-left: 4rem;
            }
            @media screen and (min-width: 1440px) {
                padding-left: 4.5rem;
            }
            i.icon {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 2.5rem;
                @include translateY(-50%);
                @media screen and (min-width: 374px) {
                    font-size: 3rem;
                }
                @media screen and (min-width: 768px) {
                    font-size: 3.85rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 3rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 3.5rem;
                }
                @media screen and (min-width: 1440px) {
                    font-size: 3.85rem;
                }
            }
            a {
                color: $green;
            }
            .feature-title {
                font-size: 1.325rem;
                @media screen and (min-width: 374px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: 768px) {
                    font-size: 2.25rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1440px) {
                    font-size: 2.25rem;
                }
            }
            .feature-sub {
                font-size: 1rem;
                @media screen and (min-width: 768px) {
                    font-size: 1.625rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 1rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 1.325rem;
                }
                @media screen and (min-width: 1440px) {
                    font-size: 1.625rem;
                }
            }
        }
    }
    .slider-inpage {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .slick-list, .slick-track {
            height: 100%;
        }
        .slick-slide img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .col-op-txt {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        @include breakpoint(min-width 1024px) {
            height: 100%;
        }
        @include breakpoint(max-width 1023px) {
            padding-top: 10px;
            height: 81vw;
        }
        @media screen and (min-width: 768px) and (orientation: portrait) {
            height: 35vw;
        }
    }
    .col-op-img {
        position: relative;
        height: 100%;
        img {
            width: 100%;
            @include breakpoint(1024px) {
                position: absolute;
                top: 0px;
                left: -80px;
                width: auto;
                height: 100%;
            }
        }
    }
    .col-img, .row-img {
        position: relative;
        @media screen and (max-width: 767px) {
            min-height: 66.7vh;
        }
        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .col-txt {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        > * {
            width: 100%;
        }
    }
    .row-img {
        @media screen and (min-width: 768px) {
            min-height: 66.6%;
        }
        .row, .container {
            height: 100%;
            &.py-40 {
                position: relative;
                .label {
                    position: absolute;
                    bottom: 40px;
                }
            }
        }
        .label {
            background-color: rgba($green, 0.6);
            @media screen and (max-width: 1023px) {
                width: 80%;
                font-size: $h4 !important;
            }
            @media screen and (max-width: 767px) {
                font-size: $h5 !important;
            }
        }
    }
    .row-txt {
        min-height: 33.4%;
        > .row {
            > .container {
                > .row {
                    @media screen and (max-width: 1023px) {
                        position: relative;
                        padding-bottom: 60px;
                        .btn-group {
                            position: absolute;
                            bottom: 0;
                            left: 20px;
                            right: 20px;
                        }
                    }
                }
            }
        }
    }
    .img-shadow {
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include beforeafter('', block);
            @include background-image(linear-gradient(top, rgba($black, 0) 0%, $black 100%));
            z-index: 0;
        }
    }
    .btn-group {
        @media screen and (max-width: 1023px) {
            justify-content: center;
        }
        .btn {
            @media screen and (max-width: 767px) {
                min-width: calc((100% - 20px) / 2);
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                min-width: calc((100% - 20px) / 3);
            }
        }
    }
    ul.contact {
        @include listreset(0, 0, none);
        li {
            a {
                display: block;
                font-size: 0;
                > * {
                    display: inline-block;
                    vertical-align: middle;
                }
                > i.icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 1px solid $dark;
                    text-align: center;
                    @include border-radius(50%);
                    &::before {
                        font-size: 1rem;
                        line-height: 1.375rem;
                    }
                    &.icon-line {
                        background-color: $green;
                        border-color: $green;
                        &::before {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
    .grid-group {
        > .row {
            height: 100%;
        }
        .grid-item {
            position: relative;
            height: 50vw;
            @media screen and (min-width: 768px) {
                height: 50%;
            }
            @media screen and (min-width: 1024px) {
                height: 33.3vh; // 66.6vh / 2
            }
            > span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include transition(opacity 0.3s);
                &.grid-img {
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &.grid-hover {
                    @include opacity(0);
                    background-color: rgba($green, 0.6);
                    z-index: 0;
                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate(-50%, -50%);
                        &::after {
                            @include beforeafter('', block);
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            width: 30px;
                            height: 2px;
                            background-color: $white;
                            @include translateX(-50%);
                        }
                    }
                }
            }
            &:hover {
                > span.grid-hover {
                    @include opacity(1);
                }
            } 
        }
    }
}

@import "_number";
@import "_jumbotron";
.slider-product {
    .slick-slide > span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px;
        color: $white;
        @include background-image(linear-gradient(top, rgba($black, 0) 0%, $black 100%));
        z-index: 1;
    }
}
.map-group {
    background-color: $gray;
    .map-img {
        position: relative;
        height: 100%;
        @media screen and (min-width: 1024px) {
            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .map-text {
        @include breakpoint (1280px) {
            padding-right: calc(((100% - 1200px) / 2) + 20px) !important;
        }
        @include breakpoint (1440px) {
            padding-right: calc(((100% - 1410px) / 2) + 20px) !important;
        }
    }
    .contact-list {
        @include listreset(0, 0, none);
        li {
            font-size: 0;
            +li {
                margin-top: 1rem;
            }
            >div {
                display: inline-block;
                vertical-align: text-top;
                font-size: 1rem;
                line-height: 1.2;
            }
            .list-title {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid $text;
            }
            .list-content {
                // width: calc(100% - 55px);
                a {
                    color: $text;
                    &:hover, &:active, &.active, &:focus {
                        color: $primary;
                    }    
                }
            }
        }
    }
}
.interest-section {
    a.btn {
        background-color: transparent;
    }
}

body > * {
    // opacity: 0.05 !important;
}
